@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	background-color: #c4be00;
}

html h1 {
	margin: 0;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.card-grid {
	display: grid;
	grid-template-columns: 8rem 8rem 8rem 8rem 8rem 8rem;
	grid-template-rows: 16rem 16rem;
	column-gap: 2rem;
	row-gap: 2rem;
}

.card {
	position: relative;
	cursor: pointer;
}

.card img {
	width: 8rem;
	height: 16rem;
}

.card-front {
	display: block;
	position: absolute;
	background: gainsboro;
	transform: rotateY(90deg);
	transition: all ease-in 0.2s;
}

.flipped .card-front {
	transform: rotateY(0deg);
	transition-delay: 0.2s;
}

.card-back {
	display: block;
	position: absolute;
	transition: all ease-in 0.2s;
	transition-delay: 0.2s;
}
.flipped .card-back {
	transform: rotateY(90deg);
	transition-delay: 0s;
}

.card-back:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 1.5rem solid #c4be00;
	border-right: 1.5rem solid rgba(0, 0, 0, 0);
}
